@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,700&display=swap");

:root {
  /* main theme color */
  --first-color: #0e2431;
  --main-color-light: #6a59d1;
  --main-color-dark: #7c6cd9;

  /* text-color */
  --grey-text-modo-dark: #cfcfcf;
  --grey-text-modo-light: #757575;

  --link-navbar-color: #757575;

  /*Hover color*/
  --hover-color: #614fd0;

  /*body-bg-color*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;
  --footer-bg-color: #222;
  --footer-link-color: rgb(176, 172, 172);
  --footer-select-link-color: #d7d7d7;

  /* --Color filter*/
  --color-filter: invert(1);

  /* --Box Shadow*/
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /* --Font Size*/
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /* Scrool Bar colors*/

  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;

  /*Contact me color */

  --contact-color: #6a59d1;
}

/* General settings */
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  transition: 0.5s ease;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* =====================================Header and NavBar ========================================= */

#header {
  transition: 0.6s ease !important;
}

.navbar {
  font-size: 1em;

}
.nav-item a {
    font-weight: 500;
}

.nav-item a:hover {
  color: var(--main-color-light) !important;
}

.logo {
  font-size: 0.9em;
  color: var(--link-navbar-color);
}

.btn-outline-login {
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;
}
.btn-outline-login:hover {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

nav .media-icons {
  align-self: center;
  padding: 0;
  margin-bottom: 0.2em;
}

/*=============== Footer =============== */
#footer {
  background-color: var(--footer-bg-color);
  color: var(--body-body-color);
}
#footer h3,
p {
  color: var(--line-color);
}

#footer a,
p {
  font-size: var(--small-font-size);
}

#footer a {
  text-decoration: none;
  color: var(--footer-link-color);
  transition: 0.3s;
}

#footer a:hover {
  color: var(--footer-select-link-color);
}

#footer li {
  list-style: none;
}

/* ======================== main ================================= */
main {
  height: 85vh;
  background-color: var(--body-bg-color);
}

main .container,
main .row {
  height: 90%;
}

main .intro {
  color: #0e2431;
}

.main .info h1 {
  font-size: 4em;
  line-height: 70px;
}

#ayelen {
  color: var(--main-color-light);
  text-transform: uppercase;
  font-weight: 400;
}

.main .info h3 {
  line-height: 50px;
  font-weight: 600;
  color: var(--grey-text-modo-light);
  font-feature-settings: 1.3em;
}

.main .info p {
  max-width: 350px;
  color: var(--grey-text-modo-light);
  font-weight: 500;
}

.aye-img {
  width: 80%;
  transform: translate(0, 0);
}

.main .btn-primary {
  border: none;
  color: white !important;
  font-weight: 500;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}
.btn-primary:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
}

main .scroll-down {
  height: 15vh;
}

.scroll-down a {
  color: var(--grey-text-modo-light);
  font-weight: 600;
  text-decoration: none;
}
.scroll-down a:hover {
  color: var(--main-color-light);
}

.scroll-down i {
  font-size: 1.2em;
  animation: arrow-down ease 2s infinite;
  color: var(--main-color-light);
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}

/* ======================Sobre mi Section ============================ */

#sobre-mi {
  height: 100vh;
}
